
*.png
*.csv
*.png
*.pdf
*.png
x_dic.pickle
visualize-monresovelo.ipynb
Untitled1.ipynb
Untitled.ipynb
trip5000.json
trip5000(1).zip
trip5000 2.json
trash.ipynb
Stadradeln_Movebis/test_pickle.pickle
Stadradeln_Movebis/Stadtradeln2020_HistogramData.mat
Stadradeln_Movebis/Stadtradeln2019_HistogramData.mat
Stadradeln_Movebis/Stadtradeln2018_HistogramData.mat
Stadradeln_Movebis/Stadtradeln1.m
Stadradeln_Movebis/johanna_test.m
Stadradeln_Movebis/HH_WFS_Stadtradeln.xsd
Stadradeln_Movebis/HH_WFS_Stadtradeln.xml
Stadradeln_Movebis/HH_WFS_Stadtradeln.gfs
Stadradeln_Movebis/CoordinateArray9.mat
Stadradeln_Movebis/CoordinateArray8.mat
Stadradeln_Movebis/CoordinateArray7.mat
Stadradeln_Movebis/CoordinateArray5.mat
Stadradeln_Movebis/CoordinateArray4.mat
Stadradeln_Movebis/CoordinateArray3.mat
Stadradeln_Movebis/CoordinateArray2.mat
Stadradeln_Movebis/CoordinateArray10.mat
Stadradeln_Movebis/CoordinateArray1.mat
Stadradeln_Movebis/BicycleSpeedVariables2020.mat
Stadradeln_Movebis/BicycleSpeedVariables2019.mat
Stadradeln_Movebis/BicycleSpeedVariables2018.mat
Stadradeln_Movebis/Abgabe.gpkg
Stadradeln_Movebis/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Stadradeln_Movebis/.DS_Store
.ipynb_checkpoints/00_stat_part1-checkpoint.ipynb
.ipynb_checkpoints/10-smoothing-trajectories-checkpoint.ipynb
.ipynb_checkpoints/10-smoothing-trajectories-Copy1-checkpoint.ipynb
.ipynb_checkpoints/10-smoothing-trajectories_test-checkpoint.ipynb
.ipynb_checkpoints/2. 1D Kalman Filter, solution-checkpoint.ipynb
.ipynb_checkpoints/acceleration-checkpoint.ipynb
.ipynb_checkpoints/DF_code_1-Copy1-checkpoint.ipynb
.ipynb_checkpoints/geodata_test-checkpoint.ipynb
.ipynb_checkpoints/M_stat_all-checkpoint.ipynb
.ipynb_checkpoints/M_stat_all-Copy1-checkpoint.ipynb
.ipynb_checkpoints/M_stat_all-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Montreal-checkpoint.ipynb
.ipynb_checkpoints/Montreal_stat-checkpoint.ipynb
.ipynb_checkpoints/OPT_cruise-Copy2-checkpoint.ipynb
.ipynb_checkpoints/OPT_cruise_constraint2-checkpoint.ipynb
.ipynb_checkpoints/OPT_cruise_constraint2-Copy1-checkpoint.ipynb
.ipynb_checkpoints/OPT_cruise_constraint2_relax-checkpoint.ipynb
.ipynb_checkpoints/OPT_cruise_penalty-checkpoint.ipynb
.ipynb_checkpoints/OPT_with_accel-checkpoint.ipynb
.ipynb_checkpoints/OPT_with_accel-Copy1-checkpoint.ipynb
.ipynb_checkpoints/OPT_with_accel-Copy2-checkpoint.ipynb
.ipynb_checkpoints/pre_process-simple-checkpoint.ipynb
.ipynb_checkpoints/pre_process-simple-Copy1-checkpoint.ipynb
.ipynb_checkpoints/pre_processing-checkpoint.ipynb
.ipynb_checkpoints/pre_processing-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Stadtradeln2-checkpoint.ipynb
.ipynb_checkpoints/stat_final_OPT-checkpoint.ipynb
.ipynb_checkpoints/stat_part1-checkpoint.ipynb
.ipynb_checkpoints/stat_part1-Copy1-checkpoint.ipynb
.ipynb_checkpoints/stat_part2-checkpoint.ipynb
.ipynb_checkpoints/stat_part3_finalOPT-checkpoint.ipynb
.ipynb_checkpoints/stat_part3_finalOPT-Copy1-checkpoint.ipynb
.ipynb_checkpoints/stat_part3_finalOPT_run-checkpoint.ipynb
.ipynb_checkpoints/stat_pcs-checkpoint.ipynb
.ipynb_checkpoints/stat_w_elevation-Copy1-checkpoint.ipynb
.ipynb_checkpoints/stat_w_elevation-Copy2-checkpoint.ipynb
.ipynb_checkpoints/stat_w_elevationComp_std-checkpoint.ipynb
.ipynb_checkpoints/stat_w_elevationOG-checkpoint.ipynb
.ipynb_checkpoints/stat_w_elevationOG-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/visualize-monresovelo-checkpoint.ipynb
10-smoothing-trajectories-Copy1.ipynb
10-smoothing-trajectories.ipynb
10-smoothing-trajectories_test.ipynb
2. 1D Kalman Filter, solution.ipynb
demodata_geolife.gpkg
DF23_gap_of_time.png
DF23_py/accel_opt.py
DF23_py/data_1.txt
DF23_py/data_2.txt
DF23_py/data_3.txt
DF23_py/data_4.txt
DF23_py/data_5.txt
DF23_py/data_6.txt
DF23_py/read.py
DF23_py/wcs.py
DF23_time_bin_of_dt.png
DF_code_1.ipynb
DF_topic.png
geodata_test.ipynb
make_histograms.ipynb
Montreal.ipynb
Montreal_stat.ipynb
obj_dic.pickle
OG_kf.geojson
OPT_cruise.ipynb
OPT_cruise_penalty.ipynb
OPT_prettygood.ipynb
OPT_with_accel-Copy1.ipynb
OPT_with_accel.ipynb
pickle/const_cut_87_OG.pickle
pickle/const_wStops_OG.pickle
pickle/const_wStops_smooth.pickle
pickle/dist_cut_87_OG.pickle
pickle/obj_dic.pickle
pickle/OPT_constant.pickle
pickle/OPT_data.pickle
pickle/OPT_physics.pickle
pickle/phys_noStops.pickle
pickle/phys_wStops.pickle
pickle/phys_wStops_OG.pickle
PP/.DS_Store
DF23_gap_of_time.png
DF23_time_bin_of_dt.png
DF_code_1.ipynb
DF_topic.png
x_dic.pickle
Untitled.ipynb
Stadtradeln2.ipynb
shudians_formulation.png
run_many.ipynb
reseaucyclable201511.json
problem_formulation_1_2.png
pre_processing.ipynb
pre_process-simple.ipynb
pre_pre_processing.ipynb
obj_dic.pickle
Montreal.ipynb
make_histograms.ipynb
